@import 'alignment'
@import 'border'

.text-center {
  h-text-center()
}

.v-text-center {
  v-text-center()
}

.b-text-center {
  b-text-center()
}

.cs-border-radius {
  cs-border-radius(10px)
}

.cs-border-top-left-radius {
  border-top-left-radius(10px)
}

.cs-border-top-right-radius {
  border-top-right-radius(10px)
}

.cs-border-bottom-left-radius {
  border-bottom-left-radius(10px)
}

.cs-border-bottom-right-radius {
  border-bottom-right-radius(10px)
}
